.page {
   min-width: 320px;
   min-height: 100vh;
   margin: 0 auto;
  /* padding-bottom: 40px; */
   background-size: 100%;
   box-sizing: border-box;
   font-family: 'Inter', 'Arial', sans-serif;
   color: #fff;
   background-color: #000000;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 920px) {
   .page {
      padding: 0 30px 20px;
   }
}

@media screen and (max-width: 425px) {
   .page {
      padding: 0;
   }
}