.profile__button-edit {
   margin-top: 16px;
   margin-left: 16px;
   align-self: flex-start;
   width: 24px;
   height: 24px;
   background-image: url('../../../images/Edit_Button.svg');
   cursor: pointer;
   padding: 0;
   border: none;
   background-color: rgba(255, 255, 255, 0);
}

.profile__button-edit:hover {
   opacity: .6;
}

@media screen and (max-width: 760px) {
   .profile__button-edit {
      width: 18px;
      height: 18px;
      margin: 0;
      background-size: cover;
      margin-left: 10px;
      margin-top: 8px;
   }
}