.auth__button {
   max-width: 358px;
   height: 50px;
   margin: 216px 0 0;
   font-size: 18px;
}

@media screen and (max-width: 425px) {
   .auth__button {
      margin-top: 170px;
      max-width: 260px;
   }
}